/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'manus';
	src:url('../fonts/manus/MNS_TRIAL.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	
	font-family: 'rupee';
	src:url('../fonts/rupee/Rupee_Foradian.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}
body{
	background: -webkit-linear-gradient(top, #88d600, #30a700);
	height:44px;
	background-repeat:no-repeat;
}
.extension{
	width:90%;
	margin:auto;
}
#kplogo{
	border:0;
	padding:0;
	background:none;
}
.shopsmart{
	font-weight:300;
	float: left;
	letter-spacing:2px;
	font-family:'manus';
	font-size: 26px;
}
.productstore{
	margin-left:3%;
	margin-right:5%;
	padding-top: 10px;
	float: left;
	font-family:'rupee';
	font-size: 24px;
}